

body{ color: #a886d6;

}

.toolbar {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    background: #f0f0f0; 
    border: 1px solid #ccc; 
    font-family: sans-serif; 
    font-size: 12px;
}

input [type="text"] {
    width: 150px;
}
button {
cursor: pointer; white-space: nowrap;
}